$gray: hsl(37, 5%, 70%);
$blue: hsl(221, 88%, 59%);
$light-green: hsl(98, 100%, 83%);
$dark-green: hsl(154, 53%, 30%);

.MainWrapper {
    background-color: #fff;
}

.Title {
    text-align: center;
    font-size: clamp(1.2rem, 1.1vw, 6rem);
    padding: 15px 0;
    margin-top: 0;
    border-bottom: 1px solid $gray;
}

.ItemsWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
}

.Pricing {
    margin: 15px 0;
    padding: 15px 5%;
    border: 1px solid $gray;
    border-left: 0;
    border-right: 0;
}

.TotalPrice {
    display: flex;
    justify-content: space-between;
}

.FreeShippingAlert {
    margin: 15px 10px;
    margin-bottom: 0;
    padding: 10px;
    border-radius: 50px;
    background-color: $light-green;
    color: $dark-green;
    text-align: center;
    font-size: clamp(0.8rem, 0.7vw, 4rem);
}

.ButtonWrapper {
    text-align: center;

    button {
        width: 90%;
        padding: 15px 0;
        border: 0;
        border-radius: 5px;
        background-color: $blue;
        font-weight: bold;
        color: #fff;
        font-size: clamp(1rem, 0.9vw, 5rem);
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) {
    .MainWrapper {
        margin: 2vh 28vw 5vh 28vw;
        padding-bottom: 15px;
        border-radius: 20px;
        box-shadow: 0px 0px 15px -1px #000000;
    }
}
